.n-container {
    width: 300px;
    background:black;
    position: fixed;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    color: white;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.notification-item {
    justify-content: center;
    width: 90%;
    align-items: center;
    padding: 15px;
}
